# FastAPI & server
fastapi
uvicorn[standard]

# Spark and data processing
pyspark
pandas
pyarrow

# Hive + SQL access
pyhive[hive]
thrift
thrift-sasl
pure-sasl  # use this instead of `sasl` for macOS ARM64

# HTML parsing and web scraping
beautifulsoup4
requests
bs4
